
/*  testimonials  */
.testimonials{
    text-align: center;
}

.testimonials h2{
    color: #4e4e4e;
    font-family: "lato_regular", arial;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 80px;
    letter-spacing: 1px;
}

.caroufredsel_wrapper{
    margin: 0 auto!important;
}

.testimonials .testi_slider,{
    width: 1040px;   
    overflow: hidden;
}

.testimonials .testi_slider .t{
    width: 1040px;
    text-align: center;
    float: left;
}

.testimonials p{
    color: #8e8d8d;
    font-family: "lato_regular", arial;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}

.testimonials p.author{
    color: #686767;
    font-family: "lato_bold", arial;
    font-size: 16px;
    font-weight: bold;
    margin-top: 40px;
}

.testimonials #t_navigation a{
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #dadada;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 40px;

    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
}

.testimonials #t_navigation a.selected{
    background: #bebebe;
}

.sep_line{
    display: inline-block;
    text-align: center;
    width: 13px;
    height: 100px;
}

.sep_line:after{
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: #dedede;
    margin-left: 6px;
}

.sep_top{
    border-bottom: 1px #dedede solid;
    margin-bottom: 40px
}

.sep_bottom{
    border-top: 1px #dedede solid;
    margin-top: 40px
}

